﻿img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -170px;
	width: 311px;
	height: 303px;

}

body {
    background-image: url("Background.png");
}

.F1{
    position: fixed;
    text-align: center;
    left: 200px;
    top: 300px;
    background: rgba(255, 255, 255, 0.1);
    width: 500px;
    height: 290px;
}


.F2{
    position: fixed;
    left: 1200px;
    text-align: center;
    top: 300px;
    background: rgba(255, 255, 255, 0.1);
    width: 500px;
    height: 380px;
}


#form input[id=Username_TextBox]{
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
    width: 400px;
	height: 40px;
    font-size: 14px;
    outline: none;
    border: none;
    font-weight: 100;
    margin-bottom: 5px;
    margin-top: 50px;
}

#form input[id=Email_TextBox]{
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
    width: 400px;
	height: 40px;
    font-size: 14px;
    outline: none;
    border: none;
    font-weight: 100;
    margin-bottom: 5px;
}

#form input[id=TextBoxUsername]{
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
    width: 400px;
	height: 40px;
    font-size: 14px;
    outline: none;
    border: none;
    font-weight: 100;
    margin-bottom: 5px;
    margin-top: 50px;
}

#form input[id=TextBoxResetCode]{
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
    width: 400px;
	height: 40px;
    font-size: 14px;
    outline: none;
    border: none;
    font-weight: 100;
    margin-bottom: 5px;
}

#form input[id=TextBoxPassword]{
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
    width: 400px;
	height: 40px;
    font-size: 14px;
    outline: none;
    border: none;
    font-weight: 100;
    margin-bottom: 5px;
}

#form input[id=TextBoxConfirmPassword]{
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
    width: 400px;
	height: 40px;
    font-size: 14px;
    outline: none;
    border: none;
    font-weight: 100;
    margin-bottom: 5px;
}

#form select[id=DropDownList1]{
	width: 400px;
	height: 30px;
    border: none;
    background: #ffffff;
    margin-bottom:20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#form select[id=Type_Select]{
	width: 400px;
	height: 30px;
    border: none;
    background: #ffffff;
    margin-bottom:20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#First_Title{
    position: fixed;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    left: 365px;
    bottom: 700px;
}

#Second_Titile{
    position: fixed;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    left: 1370px;
    bottom: 700px;
}

.submit-button{
	outline: none;
	font-size: 18px;
	font-weight: 400;
	padding: 13px 12px;
	cursor: pointer;
	border: none;
	color: #fff;
	margin: 0px 4px;
	width: 30%;
	background: #19B95C;
}

.submit-button:hover {
  background: #14A14F;
}

.ChangeButton{
	outline: none;
	font-size: 18px;
	font-weight: 400;
	padding: 13px 12px;
	cursor: pointer;
	border: none;
	color: #fff;
	margin: 0px 4px;
	width: 30%;
	background: #136EAC;
}

.ChangeButton:hover {
  background: #0F649D;
}

.verticalLine {
    position: fixed;
    left: 960px;
    top: 200px;
    border-left: 1px solid #ffffff;
    height: 500px;
    opacity: 0.1;
}