﻿@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);


body {
    position: fixed;
    background-image:   url("Background.png");
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -170px;
    width: 311px;
    height: 303px;

}

.topbar{
    width:3000px;
    height:80px;
    left: -20px;
    top: -16px;
    bottom: 1000px;
    position: fixed;
    background-color: #32556B;
    opacity: 0.4;
    border-bottom: 1px solid #ffffff;

}

.menu{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: -110px;
    right: 0px;
    width: 110px;
    position: 30px;
    height: 100%;
    background: #333;
    transition: left 0.5s ease;
    -webkit-transition : left 0.5s ease;
    -moz-transition: left 0.5s ease;
}

ul{
    margin-top: 400px;
    list-style-type: none;
}

.links {
    color: rgba(255,255,255,0.8);
    font-family: "Ubuntu",sans-serif;
    font-size: 16px;
    margin-top: 20px;
    margin-left: -15px;
    cursor: pointer;
    text-decoration: none;
}

.links:hover{
    color: rgba(255,255,255,1);
}

a:link{
    text-decoration: none;
}
    

.toggle{
    right: 30px;
    top: 7px;
    position: fixed;
    text-decoration: none;
    font-size: 50px;
    color: white;
}

.toggle:hover{
    color: #B9B9C8;
}


.bc{
    overflow-x:hidden;
    position: relative;
    left:0px;
    transition: left 0.5s ease;
    -webkit-transition : left 0.5s ease;
    -moz-transition: left 0.5s ease;
}

.menu-open{
    left:110px;
}

.menu-open .menu{
    left:0px;
}


.singout{
    background-color:transparent;
    border: 3px solid #ffffff;
    width: 100px;
    height: 40px;
    position: fixed;
    right: 80px;
    top:15px;
    font-family: Quicksand;
    color: white;
    font-size: 15px;
    cursor: pointer;
}


.singout:hover{
    border: 3px solid #B9B9C8;
    color:#B9B9C8;
}



.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 100px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
  padding:5px;
  width: 80%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

th {
  color:#ffffff;
  background:#167F92;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #C1C3D1;
  font-size:23px;
  font-weight: 100;
    font-family: Roboto;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:5px;
}
 
th:last-child {
  border-top-right-radius:5px;
  border-right:none;
}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}


tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

td.text-left {
  text-align: left;
}
