﻿@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -170px;
	width: 311px;
	height: 303px;

}


body {
    background-image:   url("Background.png");
}

.topbar{
    display: table;
    position: fixed;
    width:3000px;
    height:80px;
    left: -20px;
    top: -16px;
    bottom: 1000px;
    background-color: #32556B;
    opacity: 0.4;
    border-bottom: 1px solid #ffffff;

}

.menu{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: -110px;
    right: 0px;
    width: 110px;
    position: 30px;
    height: 100%;
    background: #333;
    transition: left 0.5s ease;
    -webkit-transition : left 0.5s ease;
    -moz-transition: left 0.5s ease;
}

ul{
    margin-top: 400px;
    list-style-type: none;
}

li {
    color: rgba(255,255,255,0.8);
    font-family: "Ubuntu",sans-serif;
    font-size: 16px;
    margin-top: 20px;
    margin-left: -5px;
    cursor: pointer;
    text-decoration: none;
}

li:hover{
    color: rgba(255,255,255,1);
}

a:link{
    text-decoration: none;
}
    

.toggle{
    right: 30px;
    top: 7px;
    position: fixed;
    text-decoration: none;
    font-size: 50px;
    color: white;
}

.toggle:hover{
    color: #B9B9C8;
}


.bc{
    overflow-x:hidden;
    position: relative;
    left:0px;
    transition: left 0.5s ease;
    -webkit-transition : left 0.5s ease;
    -moz-transition: left 0.5s ease;
}

.menu-open{
    left:110px;
}

.menu-open .menu{
    left:0px;
}


.singout{
    background-color:transparent;
    border: 3px solid #ffffff;
    width: 100px;
    height: 40px;
    position: fixed;
    right: 80px;
    top:15px;
    font-family: Quicksand;
    color: white;
    font-size: 15px;
    cursor: pointer;
}


.singout:hover{
    border: 3px solid #B9B9C8;
    color:#B9B9C8;
}


.first_line{
    margin-left: auto;
    margin-right: auto;
    border: 0;
    height: 1px;
    width: 500px;
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    background-image:    -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    background-image:     -ms-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    background-image:      -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}


.edit_lable{
    display:block;
    text-align:center;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    font-family: Franklin Gothic Medium;
    color: #ffffff;
    font-size: 30px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
}


.Edit{
    margin-left:125px;
    margin-right:auto;
    height: 150px;
	width: 350px;
	z-index: 2;
}

.Edit input[type=text]{
    width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
    margin-top: 10px;
}


.Edit input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.Edit input[type=button]{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.Edit input[type=button]:hover{
	opacity: 0.8;
}

.Edit input[type=button]:active{
	opacity: 0.6;
}

.Edit input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.Edit input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.Edit input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}

.container{
    margin-left:700px;
    margin-right:700px;
    margin-top:150px;
}

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 5px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  padding:5px;
  width: 20%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

th {
  color:#ffffff;
  background:#167F92;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #C1C3D1;
  font-size:23px;
  font-weight: 100;
    font-family: Roboto;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:5px;
}
 
th:last-child {
  border-top-right-radius:5px;
  border-right:none;
}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}


tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

td.text-left {
  text-align: left;
}

